@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    background: #D6d4d3;
    z-index: 0;
}

.container {
    display: flex;
    justify-content: center;
    background: #D6d4d3;
    z-index: 0;
}

.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-weight: bold;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 5px solid #E27425; */
    border-style: outset;
    width: 50%;
}

.button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #E27425;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    font-size: x-large;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
    border: 1px solid black;
    opacity: 50%;
    margin: 10px;
    border-style: groove;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input:hover{
    opacity: 100%;
}

.button:hover{
    opacity: 50%;
}
